/* some green: #00FA9B*/
/* black-blue: #01151A*/
/* black-green: #010A09*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  color: white;
}

header {
  width: 100%;
  height: 100vh;
  /* for browser who don't suport gradient */
  background-color: #009172;
  /* gradient */
  background-image:
    radial-gradient(
      circle at right,
      #00FA9B,
      #009172 50%
    );
}

.main-nav {
  list-style: none;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  display: flex;
  justify-content: space-around;
  margin: 0 5%;
}

.main-nav li a {
  text-decoration: none;
}

/* defines the width for every secton. and displayes as flex */
.section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.sec-1 {
  height: 90vh;
}

.mainCall {
  margin: 10%;
  width: 50%;
  font-size: x-large;
}

.mainCall h2 {
  padding: 0 0 7% 0;
}

.mainFig {
  margin: 10%;
  margin-left: 0;
  width: 40%;
}

.ideas {
  max-width: 100%;
  max-height: 100%;
}
