/* some green: #00FA9B*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

header {
  width: 100%;
  height: 100vh;
  /* for browser who don't suport gradient */
  background-color: #009172;
  /* gradient */
  background-image:
    radial-gradient(
      circle at right,
      #00fa64,
      #009172 50%
    );
}

.main-nav {
  list-style: none;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  display: flex;
  justify-content: space-around;
  margin: 0 5%;
  font-size: large;
}

/* defines the width for every section. and displayes as flex */
.section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sec-1 {
  height: 90vh;
}

.mainCall {
  margin: 10%;
  width: 50%;
  font-size: x-large;
}

.mainCall h1 {
  padding: 0 0 7% 0;
  font-size: 3em;
  line-height: 1em;
}

.mainCall p {
  word-spacing: 0.3em;
}

.link {
   position: relative;
   z-index: 0;
   overflow: hidden;
   display: inline-block;
   vertical-align: bottom;
   transition: color .3s ease-out;
}

.link::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(60deg, #6a2efb 0%, #c916ff 100%);
   transition: transform .25s ease-out;
}

.link:hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
}

.fa-code {
  color: rgb(182, 182, 182);
}

.fa-heart {
  color: rgb(254, 0, 69);
}

.mainFig {
  margin: 10%;
  margin-left: 0;
  width: 45%;
}

.ideas {
  max-width: 100%;
  max-height: 100%;
}

.sec-2 {
  height: max-content;
  display: flex;
  flex-direction: column;
  /* for browser who don't suport gradient */
  background-color: #5e08e7;
  /* gradient */
  background-image:
    linear-gradient(to right rgb(127, 10, 236), #5e08e7);
}

.sec-2 img {
  max-width: 100%;
  max-height: 100%;
}

.banner {
  width: 80%;
}
